footer a, .content a, .related-posts li a:hover, .content a:hover {
  color: #313131;
  text-decoration: underline;
}

.post h1, .post h1.post-title {
  margin-bottom: 1rem;
}

.post .read-more-link {
  margin-top: .5rem;
}

.post p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.content h1 a {
  text-decoration: none;
}

.read-more-link a {
  display: block;
  border: none;
  padding: 0;
}

.social-icons a {
  margin-right: 1rem;
}