{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>

  {{ if ne .Type "page" -}}
  <div class="post-date">
    <!-- <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time> · {{ .ReadingTime }} min read -->
  </div>
  {{- end }}

  {{ .Content }}

  {{ if .Page.Store.Get "hasMermaid" }}
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <script>
    mermaid.initialize({ startOnLoad: true });
  </script>
{{ end }}
</div>

{{ if (and .Site.DisqusShortname (eq .Params.DisableComments false)) -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}

{{- end }}
